.card {
    padding: 20px 20px 20px 40px;
    background-color: #212730;
    color: white;
    border-radius: 20px;
    width: 60%;
    margin-left: -20px;
    z-index: 1;
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
        align-items: center;
        width: 90%;
        margin-left: 0;
        background-color: transparent;
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 80%;
    }
}

.item {
    padding: 0px 20px;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .item {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .item {
        font-size: 15px;
    }
}


.item p {
    opacity: .6;
}

.week {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.day {
    padding: 5px;
    border-radius: 10px;
    background-color: #323a46;
    transition: all 0.2s;
    flex-grow: 1;
    letter-spacing: 0px;
    margin: .5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

@media (max-width: 768px) {
    .day {
        font-size: 12px;
        padding: 5px;
    }

    .day:nth-child(6),
    .day:nth-child(7) {
        display: none;
    }
}



.day:hover {
    transform: scale(1.25);
    transition: all .4s;
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    color: #323a46;
    background-color: #fff;
}

.active {
    color: #323a46;
    background-color: #fff;
    transform: scale(1.2);
}

.week img {
    width: 30px;
}

.quote {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #323a46;
    color: white;
}